<style>
    .event {
        height: 100px;
    }
    
    th, td {
        width: 40px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .th_hour {
        position: relative;
        left: -20px;
    }
    
    @media (max-width: 767px) {
        th, td {
            width: 30px !important;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }
        
        .event {
            height: auto;
            padding: 10px;
        }
    }
</style>

<section class="section">
    <nav class="level">
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <a class="button">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    </a>
                </p>
                <p class="control">
                    <a class="button">
                        Semaine du {{ week_dates.0|date:"d/m" }} au {{ week_dates.6|date:"d/m" }}
                    </a>
                </p>
                <p class="control">
                    <a class="button">
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    
    <table class="table" style="overflow-x: auto; display: block; table-layout: fixed;">
        <thead>
            <tr>
                <th></th>
                {% for hour in th_cols %}
                    <th {% if hour %}class="th_hour"{% endif %}>{{ hour }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for group in data %}
                {% for row in group.2 %}
                    <tr>
                        <th {% if forloop.first and group.2.1 %}style="border-bottom: none;"{% endif %}>
                            {% if forloop.first %}
                                {{ group.1 }} {{ group.0|date:"d/m" }}
                            {% endif %}
                        </th>
                        {% for data in row %}
                            <td colspan="{{ data|datacolspan }}">
                                {% if data.2 %}
                                    <article class="tile is-child notification is-primary event">
                                        <p class="title is-size-5">{{ data.2.title }}</p>
                                        <p class="subtitle is-size-6">{{ data.2.start|date:"H:i" }} - {{ data.2.end|date:"H:i" }}</p>
                                    </article>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</section>